.ui.my-color.inverted.segment.no-radius.shadow
  .ui.container
    .text-center
      Bu site MIT Lisansı ile lisanslanmıştır.
      %br
      Kaynak kodlarına
      %a{:href => "https://github.com/alperenbozkurt/gitbuff", class: 'footer-link'} bu linkten
      erişebilirsiniz
