<h1>Merhaba,</h1>
<h3>İstatisliklerini görmek istediğiniz lakabını giriniz </h3>

<%= form_tag(user_search_path) do %>
  <%= text_field_tag :username, "alperenbozkurt" %>
  <%= submit_tag 'Ara' %>
<% end %>
