= render 'header'
.ui.container
  - if @users.empty?
    Daha önce kimsenin profiline bakan olmamış.
  - else

    %h1.ui.header.blue
      En Popüler Kullanıcılar
    .ui.segment
      .ui.list
        - @users.each do |e|
          .item
            %img.ui.avatar.image{:src => "https://semantic-ui.com/images/avatar2/small/rachel.png"}/
            .content
              %a.header{href: e.username }
                = e.username
              .description
                = e.count.to_s
                Görüntülenme.
            %br/
