= render 'header'
.ui.container
  - if @users.empty?
    Daha önce kimsenin profiline bakan olmamış.
  - else

    %h1.ui.header.blue
      En Popüler Kullanıcılar
    .ui.segment
      .ui.items
        - @users.each do |e|
          .item
            %a.ui.tiny.image
              %img{:src => e.image_url}/
            .content
              %a.header{href: e.username }
                = e.username
              .description
                %p
                = e.count.to_s
                Görüntülenme
